*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.csv
*.pyc
.venv
.py2venv
.vscode
rawdata/
processed_data/
#*ipynb_checkpoints/
*.~lock*
*pycache*
models/saved_models/
models/comparison_charts/
models/evaluation_data.ods
processed_data_old/*
