*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.csv
*.pyc
.venv
.vscode
rawdata/
processed_data/
#*ipynb_checkpoints/
*.~lock*
*pycache*
models/naiveBC/
models/naiveBC-small/keras_metadata.pb
models/naiveBC-small/saved_model.pb
models/naiveBC-small/variables/variables.data-00000-of-00001
models/naiveBC-small/variables/variables.index
models/naiveBC-small-150/keras_metadata.pb
models/naiveBC-small-150/saved_model.pb
models/naiveBC-small-150/variables/variables.data-00000-of-00001
models/naiveBC-small-150/variables/variables.index
models/naiveBC-small-780/keras_metadata.pb
models/naiveBC-small-780/saved_model.pb
models/naiveBC-small-780/variables/variables.data-00000-of-00001
models/naiveBC-small-780/variables/variables.index
models/naiveBC-small-movement-thresh/keras_metadata.pb
models/naiveBC-small-movement-thresh/saved_model.pb
models/naiveBC-small-movement-thresh/variables/variables.data-00000-of-00001
models/naiveBC-small-movement-thresh/variables/variables.index
models/BCO-256-disc/keras_metadata.pb
models/BCO-256-disc/saved_model.pb
models/BCO-256-disc/variables/variables.data-00000-of-00001
models/BCO-256-disc/variables/variables.index
models/BCO-256-gen/keras_metadata.pb
models/BCO-256-gen/saved_model.pb
models/BCO-256-gen/variables/variables.data-00000-of-00001
models/BCO-256-gen/variables/variables.index
models/naiveBC-norm-start-small/keras_metadata.pb
models/naiveBC-norm-start-small/saved_model.pb
models/naiveBC-norm-start-small/variables/variables.data-00000-of-00001
models/naiveBC-norm-start-small/variables/variables.index
